@import "tailwindcss";

/* If you need to keep your custom styles, add them below */
html, body {
  height: 100%;
  margin: 0;
  /* Your Ice Blue Background */
  background-color: #ebf4f6; 
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}